﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="encriptPass.aspx.cs" Inherits="CEI.Web.encriptPass" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=c5c51ba5-dde7-4a06-9976-04673c86e7a1&amp;type=website&amp;post_services=email%2Cfacebook%2Ctwitter%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine%2Cxanga%2Cblinklist%2Ctwine%2Ctwackle%2Cdiigo%2Cfark%2Cfaves%2Cmister_wong%2Ccurrent%2Clivejournal%2Ckirtsy%2Cslashdot%2Coknotizie%2Ccare2%2Caim%2Cmeneame%2Csimpy%2Cblogmarks%2Cn4g%2Cbus_exchange%2Cfunp%2Csphinn%2Cfresqui%2Cdealsplus%2Ctypepad%2Cyigg"></script>

    <form id="form1" runat="server">
    <div>
    
        <asp:LinkButton ID="LinkButton1" runat="server" onclick="LinkButton1_Click">LinkButton</asp:LinkButton>
    
    </div>
    </form>
</body>
</html>
