﻿<%@ Page Language="C#" MasterPageFile="~/MockUps/Mockups.Master" AutoEventWireup="true" CodeBehind="MainExam.aspx.cs" Inherits="CEI.Web.MockUps.MainExam" Title="Manage Exams" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <table border=“3” style="border:1px solid #CDCFCF; padding:10px;">
<tr><td>&nbsp;</td><td> 
&nbsp; </td></tr>
<tr><td><asp:Label ID="Label1" runat="server" Text="Retina exams should be prerformed every: "></asp:Label></td><td> 
    <asp:DropDownList ID="DropDownList1" runat="server">
        <asp:ListItem>1</asp:ListItem>
        <asp:ListItem>2</asp:ListItem>
        <asp:ListItem>3</asp:ListItem>
        <asp:ListItem>4</asp:ListItem>
        <asp:ListItem>5</asp:ListItem>
        <asp:ListItem>6</asp:ListItem>
        <asp:ListItem>7</asp:ListItem>
        <asp:ListItem>8</asp:ListItem>
        <asp:ListItem>9</asp:ListItem>
        <asp:ListItem>10</asp:ListItem>
        <asp:ListItem>11</asp:ListItem>
        <asp:ListItem>12</asp:ListItem>
    </asp:DropDownList> </td><td> months.</td></tr>
<tr><td><asp:Label ID="Label2" runat="server" Text="Glaucoma exams should be prerformed every: "></asp:Label></td><td>   <asp:DropDownList ID="DropDownList2" runat="server">
        <asp:ListItem>1</asp:ListItem>
        <asp:ListItem>2</asp:ListItem>
        <asp:ListItem>3</asp:ListItem>
        <asp:ListItem>4</asp:ListItem>
        <asp:ListItem>5</asp:ListItem>
        <asp:ListItem>6</asp:ListItem>
        <asp:ListItem>7</asp:ListItem>
        <asp:ListItem>8</asp:ListItem>
        <asp:ListItem>9</asp:ListItem>
        <asp:ListItem>10</asp:ListItem>
        <asp:ListItem>11</asp:ListItem>
        <asp:ListItem>12</asp:ListItem>
    </asp:DropDownList>   </td><td> months.</td></tr>
<tr><td>  <asp:Button ID="Button1" runat="server" Text="Save" /> </td><td>&nbsp; </td><td>&nbsp; </td></tr>

</table>




</asp:Content>
