﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="_footer.ascx.cs" Inherits="CEI.Web.UserControls._footer" %>
<div class="divFooterHolder">

<p class="divDisclaimer">© 2011 Total Vision Care. All rights reserved.</p>

 

</div>