.ddsmoothmenu{
font: bold 12px Verdana;
background: none; /*background of menu bar (default state)*/
width:920px;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
float:left;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
background: none; /*background of menu items (default state)*/
color: white;
padding: 8px 10px;
border-right: 1px solid #778;
color: #2d2b2b;
text-decoration: none;
}


.ddsmoothmenu ul>li>span{
display: block;
color: white;
padding: 8px 10px;
border-right: 1px solid #778;
text-decoration: none;
cursor:pointer;
}
.ddsmoothmenu ul>li>span:hover{
color: #2d2b2b;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: none; 
color: white;
}

.ddsmoothmenu ul li a:hover{
background: none; /*background of menu items during onmouseover (hover state)*/
color: #323740;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
background: #929eb1;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal 13px Verdana;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
}



/* Sub level menu links style */
.ddsmoothmenu ul li ul li span
{
	display:block;
font: normal 13px Verdana;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
}


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass
{
	background:transparent url(down.gif) center no-repeat;
	position: absolute;
	top: 12px;
	right: 7px;
	display:block;
	width:11px;
	height:8px;
}

.rightarrowclass
{
	background:transparent url(right.gif) right no-repeat;
position: absolute;
top: 0;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}