﻿.paddNone
{
	
	padding:0px !important;
}
.floatNone
{
clear:both !important;	
float:none !important;	
	
}

.displayBlock
{
display:block;	
	
}
.width400
{
width:400px !important;
}

.spannumeric a
{
    display: block;
    float: left;
}