
/* CSS Document */

/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body { 
  line-height: 1.5; 

  font-family:"Tahoma" Arial, Helvetica, sans-serif;
  text-align:center;
  
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td {  font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }
/*
end of reset style

*/


html {

	/*background:#586983 url('images_new/htmlBg.jpg') center top no-repeat;*/
	background-color: #17191e;
	margin:auto;
	text-align:center;
}
body {

	height: 100%;
	width: 100%; /*Smetase na IE 6 na sirina ja turkase wiki dolu*/
	margin: auto; /* auto is for left and right and it makes the site centered */

	font-size:12px;
	color:#5d5d5d;
	text-align:center;
background:transparent url(images_new/wrapperTop.png) center 20px no-repeat;
	display:block;

padding-top:39px;

}
a {
	color:#586983;
}
p span div{
	font-family:"Tahoma";
	font-size:12px;
	color:#5d5d5d;
}

#masterWrapper
{
	background:transparent url(images_new/wrapperBottom.png) bottom center no-repeat;
padding-bottom:19px;
}
#wrapper {


	
	width: 958px; 

	border:solid 0px #000;
	margin:auto;
	background:transparent url(images_new/wrapperMiddle.png) top center repeat-y;
	text-align:center;
	padding:0 10px;
	overflow:visible;
}
#header
{
background:transparent url(images_new/headerBg.png) center top no-repeat;
height:181px;
margin:auto;
padding-top:20px;
position:relative;
top:-12px;
width:943px;
}


.imgLogo
{
float:left;
padding:15px 0px 0px 41px;	
}

#divSearchHolder
{
float:right;
display:block;
padding:0px 14px 0px 0px;
width:164px;
height:129px;
}




#divSearchHolder .searchBox
{
	background:transparent url(images_new/searchBoxBg.jpg) top right no-repeat;
	width:127px !important;
	height:19px;
	padding:2px 0px 2px 5px ;
	border:none;
	float:left;
}
#divSearchHolder .btnSearchMain
{
	background-color:#f00;
	width:32px;
	border:none;
	height:23px;
	display:block;
	float:right;
	padding:0px;
	background:transparent url(images_new/btnSeachBg.jpg) top center no-repeat;
	color:#fff;
	text-decoration:none;
	line-height:23px;
	font-weight:bold;
	font-size:12px;
	font-family:Trebuchet MS;
}

#divSearchHolder>a
{
	background-color:#f00;
	width:28px;

	height:19px;
	display:block;
	float:right;
	padding:2px;
	background:transparent url(images_new/btnSeachBg.jpg) top center no-repeat;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}


.below_search_box
{
	font-family:"Arial Narrow" Tahoma Arial;
	font-size:13px;
	color:#264863;
	text-align:right;
	display:block;
	
	margin:0px;
	line-height:15px;	
}




.divContentHolder
{
    
clear:both;
margin-top:0;
padding:0 20px;
text-align:left;
min-height:250px;
overflow:hidden;
display:table;
width:96%;
	
}








.AspNet-Menu
{
	float:right;
}

.AspNet-Menu-Leaf
{

line-height:30px;

font-weight:bold;
font-size:13px;
padding:0px;
float:left;
display:block;
font-family:Trebuchet MS;
padding:2px 15px;
}


.AspNet-Menu-Link
{
color:#fff;

}

.AspNet-Menu-Link:hover
{
	color:#abdaa9;

}



.divFooterHolder
{
	padding-top:8px;
font-family:Tahoma;
color:#fff;	

}

.divFooterHolder .divFooterNav
{
padding-top:12px;	
}
.divFooterHolder a
{
	color:#fff;	
	font-size:11px;
	padding:10px;
	text-decoration:none;
}






/* RatingControl*/

.panelHolder 
{
position:absolute;
border:1px solid #999;

background:transparent url(transBg.png);
color:#fff;
padding:10px;

text-align:left;
z-index:999;
right:33%;
margin:0 auto;


}

.panelHolder table tr td
{
 vertical-align:top !important;	
}





.savedRatingStar
{
	background-image: url(../../Images/SavedStar.png);
}

.divStars
{
	/*width: 70px; /* ova treba da se menuva */
	background: transparent url(../../Images/divStarsBg.png);
	height: 40px;
	z-index: 15;
	display: block;
	position: relative;
	top: -40px;
}
.divSlider
{
	background: transparent url(../../Images/divSlider.png);
	height: 40px;
	display: block;
	width: 100px;
	z-index: 10;
}
.divRatinHolder
{
	background-color: Transparent; /*koja sakas boja moze da bide ova*/
	display: block;
	width: 100px;
	height: 40px;
}


.divStarsSmaller
{
	/*width: 70px; /* ova treba da se menuva */
	background: transparent url(../../Images/divStarsBgSmaller.png);
	height: 22px;
	z-index: 15;
	display: block;
	position: relative;
	top: -22px;
}
.divSliderSmaller
{
	background: transparent url(../../Images/divSliderSmaller.png);
	height: 22px;
	display: block;
	width: 73px;
	z-index: 10;
}
.divRatinHolderSmaller
{
	background-color: Transparent; /*koja sakas boja moze da bide ova*/
	display: block;
	width: 73px;
	height: 22px;
}

/*End Rating Control*/

.searchHolder
{

border-bottom:1px solid #ebecec;
width:900px;	
}


.linkFix
{
display:block;
float:left;
margin-left:2px;
padding:0px 5px;
height:23px;
}






.divSavedDocs
{
float:left;
text-align:center;
padding:10px;	
}

.signHolderLeft, .signHolderRight
{
float:left;
padding:10px;

	overflow:hidden;
	width:430px;
	text-align:left;
}



.genericLink
{
text-decoration:none;
font-family:"Trebuchet MS";
color:#5A6A84;	
}


.tdLeft
{

	vertical-align:top;
	padding:0 0 ;
	
width:210px;

	background-color:#eaeef9; 
}


.tdCenter
{
	/*width:560px;*/
	width:780px;
	vertical-align:top;
	padding:0 5px;
	
}

.tdRight
{
	width:210px;
	vertical-align:top;
	font-size:12px;
	padding:5px;
	background:transparent url(images/transBorder.png) top left no-repeat;
	border-top:1px solid #6d7582;
	height:300px;
	text-align:left;
	padding-top:25px;
	padding-left:10px;
}

.lblTitle
{
	text-align:left;
	display:block;
	font-family:Trebuchet MS;
	font-size:18px;
	font-weight:bold;
padding-left:10px;
padding-top:10px;
	background:transparent url(images/transBorderBottom.png) bottom left no-repeat;
	margin-bottom:10px;
	float:left;
	width:640px;
	
}



.lblPageDescription
{
	display:block;
	background-color:#EAEFF8;
	width:600px;
	padding:10px;
	margin-bottom:10px;
	float:none;
	
}




.treeDescription
{
	
font-size:11px;
font-style:italic;
text-align:center;
margin:auto;
padding:3px;
background-color:#f3f6fd;
display:block;


}


.fieldsetLeft
{
border: 1px solid #CDCFCF; 
float: left;
padding:10px;
width:410px;
margin:0;

}
legend
{
	padding: 0pt 5px; font-weight: bold; font-size: 14px;
}


.profileheader
{
font-weight:bold;
font-size:12px;
padding:10px 0px;	
	
}


.footerRow
{
	background-color:#fafbff;
	/*border-bottom:2px solid #c2c4d3;
	border-left:1px solid #c2c4d3;*/
	font-size:12px;
	font-weight:bold;
	font-family:Verdana;
	padding-left:1px;
	text-align:left;
}
.footerRow1
{
	background-color:#fafbff;
	/*border-bottom:2px solid #c2c4d3;
	border-left:1px solid #c2c4d3;*/
	font-size:12px;
	font-weight:bold;
	font-family:Verdana;
	/*padding-left:1px;*/
	text-align:center;
}
.footerRow2
{
	/*background-color:#fafbff;
	border-bottom:2px solid #c2c4d3;
	border-left:1px solid #c2c4d3;*/
	font-size:12px;
	font-weight:bold;
	font-family:Verdana;
	padding-left:4px;
	text-align:left;
}







.dataList
{
/*
border:1px solid #7B899F;
display:block;
overflow:auto;
padding:10px;
*/	
}

/*##########################################
main page styles
##########################################
*/

.lblMainPageTitle
{
	font-size:22px;
	color:#597259;
	font-family:Trebuchet MS;
	font-size:22px;
padding-bottom:15px;
	
}

.fourBoxHolder
{
	padding:10px;
}

.theBox
{

	padding:0;
	width:198px;
	border:1px solid #e8eaee;

	background:#f6f6f7 url(images/boxBg.jpg) top center no-repeat;
	height:133px;
	display:table;
	margin:0 23px 12px 0px;
	padding:0;
}
.theBoxContetn
{
	padding:30px 20px 20px 10px;
	display:block;
	font-size:18px;
	color:#394456;
	text-align:center;
	padding-bottom:0px;
	line-height:22px;
	height:60px;
}
.theBoxLink
{
font-family:Arial;
font-size:13px;
text-align:right;
color:#829bae;	
padding:20px 10px 0px 0px;
display:block;
cursor: pointer;
text-decoration:none;
}



.boxWhatsNew
{
	width:430px;
	padding:15px 0px 0px 0px;
/*	background:transparent url(images/latestBg.png) top left no-repeat;	
*/	
}
.boxWhatsNewContent
{
font-family:Tahoma;
color:#5d5d5d;
display:block;
padding:10px 0px 5px 8px;	
	font-size:12px;
	line-height:17px;
}


.btnBlogWithUs
{
background:transparent url(images/blogWithUsBtn.png) top center no-repeat;
border:none;
width:99px;
height:29px;
color:#fff;
font-family:Trebuchet MS;
font-size:12px;
float:right;
line-height:29px;
text-align:center;
text-decoration:none;
cursor: pointer;
}
.btnReadMore
{
	background:transparent url(images/btnReadMore.png) top center no-repeat;
border:none;
width:131px;
height:33px;
color:#fff;
font-family:Trebuchet MS;
font-size:15px;
float:right;
text-align:center;
line-height:33px;
text-decoration:none;
cursor: pointer;
}






/*##########################################
main page styles
##########################################
*/



/* update progress style start */
.divProgressHolder
{
	width: 200px;
	height: 80px;
	margin: auto;
	border:2px solid #333;
	display: block;
	background: transparent url(../../Images/progressBg.png) repeat top left;
	position: absolute;
	left: 45%;
	top: 35%;
	color: #000;
	z-index:100;
}
.imgProgress
{
	padding: 10px;
	background: transparent url(../../Images/progressIndicator.gif) no-repeat center left;
	width: 32px;
	height: 32px;
}

/* update progress style  end */


