﻿.gridView
{
	border:1px solid #000;
	margin:10px auto;
	padding:0px;
	border-collapse:collapse;
	clear:both;
}

.gridViewRow
{
	
	font-size:12px;
padding:10px;

	line-height:25px;
	border-bottom:1px #32382e dashed !important;

}
.gridViewRow > td,.gridViewAlternatingRow > td
{
	/*border-bottom:1px #32382e dashed !important;*/
	padding:5px;
	font-size:12px;
	font-family:Tahoma;
}

.gridViewAlternatingRow
{
	
	background-color:#dfe3e4;
    border-bottom:1px #32382e dashed !important;
}

.gridViewRow:hover
{
	background-color:#f5f8fb;
}

.gridViewAlternatingRow:hover
{
	background-color: #f5f8fb;
}

.gridViewSelectedRow
{
	background-color: #f5f8fb;
	color: #000000;
	font-weight:bold;
	text-align:left;
}


.gridViewAlternatingRow a:link 
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewAlternatingRow a:visited 
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewAlternatingRow a:hover
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.gridViewAlternatingRow a:active
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}

.gridViewRow a:link
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewRow a:visited
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewRow a:hover
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.gridViewRow a:active
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}

.gridViewSelectedRow a:link {
	
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewSelectedRow a:visited {
	
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewSelectedRow a:hover
{
	
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.gridViewSelectedRow a:active
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}

.gridViewHeader th
{
	border-bottom:1px solid #000;
background-color:#eaebe1;
	font-size:13px;
	font-weight:bold;
	font-family:Verdana;
	padding: 3px 3px;
}

.gridHeader 
{
	color: #2460a4;
	font-size: 14px;
	font-weight: bold;
	
	text-align:left;

}



.tdActions
{
	clear:both;
	text-align:center !important;
	display:table-cell;
	width:30px;
	font-size:26px;
	float:none;


}
.tdActions input
{
	clear:none;
float:none;
margin:auto;
padding:0;
text-align:center !important
}


.gridViewFooter
{
	color:#ffffff;
	background-color:#f5f8fb;
}


.gridPager
{
	line-height:20px;
	overflow:visible;
	text-align:center;
	
}
.gridPager table
{
	margin:auto;
}
.gridPager span,.gridPager a
{
	
	padding:0 5px;
	background-color:#fff;
	color:#000;
	text-decoration:none;
	border:1px solid #aaa;
	margin-right:3px;
	
}

.gridPager span:hover,.gridPager a:hover
{
	background-color:#ebebeb;
}
.gridPager span
{
font-weight:bold;
border:none;
background-color:#fff;
color:#000;
}
/*
end for grid view style
*/

/* start for grid view manage patient log style */


.gridViewManagePatientLog
{
	border:1px solid #c2c4d3;
	margin:10px auto;
	padding:0px;
	border-collapse:collapse;
	clear:both;
}

.gridViewRowManagePatientLog
{
	
	font-size:12px;
	padding:10px;
	
	/*line-height:25px;*/

}
.gridViewRowManagePatientLog > td,.gridViewAlternatingRowManagePatientLog > td
{
	/*border-bottom:1px #32382e dashed !important;*/
	padding:5px;
	font-size:12px;
	font-family:Tahoma;
	border:1px solid #c2c4d3;
	
	
}

.gridViewAlternatingRowManagePatientLog
{
	
	background-color:#dfe3e4;

}

.gridViewRowManagePatientLog:hover
{
	background-color:#f5f8fb;
}

.gridViewAlternatingRowManagePatientLog:hover
{
	background-color: #f5f8fb;
}

.gridViewSelectedRowManagePatientLog
{
	background-color: #f5f8fb;
	color: #000000;
	font-weight:bold;
	text-align:left;
}


.gridViewAlternatingRowManagePatientLog a:link 
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewAlternatingRowManagePatientLog a:visited 
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewAlternatingRowManagePatientLog a:hover
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.gridViewAlternatingRowManagePatientLog a:active
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}

.gridViewRowManagePatientLog a:link
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewRowManagePatientLog a:visited
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewRowManagePatientLog a:hover
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.gridViewRowManagePatientLog a:active
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}

.gridViewSelectedRowManagePatientLog a:link {
	
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewSelectedRowManagePatientLog a:visited {
	
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.gridViewSelectedRowManagePatientLog a:hover
{
	
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.gridViewSelectedRowManagePatientLog a:active
{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}

.gridViewHeaderManagePatientLog th
{
	/*border-bottom:1px solid #000;*/
	background-color:#fafbff;
	border-bottom:2px solid #c2c4d3;
	border-left:1px solid #c2c4d3;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana;
	padding: 3px 5px;
	text-align:center;
}

.gridViewHeaderManagePatientLog1 th
{
	/*border-bottom:1px solid #000;
	background-color:#fafbff;
	border-bottom:2px solid #c2c4d3;
	border-left:1px solid #c2c4d3;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana;
	padding: 3px 5px;
	text-align:center;*/
}

.moveLeft
{
     text-align:left !important;
}

.moveCenter
{
     text-align:center !important;
}

.gridHeaderManagePatientLog 
{
	color: #2460a4;
	font-size: 14px;
	font-weight: bold;
	
	text-align:left;

}



.tdActionsManagePatientLog 
{
	clear:both;
	text-align:center !important;
	display:table-cell;
	width:30px;
	font-size:26px;
	float:none;
	


}
.tdActionsManagePatientLog input
{
	clear:none;
float:none;
margin:auto;
padding:0;
text-align:center !important
}


.gridViewFooterManagePatientLog
{
	/*color:#ffffff;*/
	background-color:#f5f8fb;
}





/* end for grid view manage patient log style */




/* start for grid view year to year report style */


.gridViewYearToYearReport
{
	border:0px solid #c2c4d3;
	
	padding:0px;
	border-collapse:collapse;
	clear:both;
}

.gridViewRowYearToYearReport
{
	
	font-size:12px;
	padding:10px;
	background-color:#dfe3e4;
	/*line-height:25px;*/

}
.gridViewRowYearToYearReport > td,.gridViewAlternatingRowYearToYearReport > td
{
	/*border-bottom:1px #32382e dashed !important;*/
	padding:5px;
	font-size:12px;
	line-height:12px;
	font-family:Tahoma;
	border:1px solid #c2c4d3;
}

.gridViewAlternatingRowYearToYearReport
{
	
	/*background-color:#dfe3e4;*/

}

.gridViewRowYearToYearReport:hover
{
	background-color:#f5f8fb;
}

.gridViewAlternatingRowYearToYearReport:hover
{
	background-color: #f5f8fb;
}

.gridViewSelectedRowYearToYearReport
{
	background-color: #f5f8fb;
	color: #000000;
	font-weight:bold;
	text-align:left;
}







.gridViewHeaderYearToYearReport th
{
	/*border-bottom:1px solid #000;*/
	background-color:#fafbff;
	border-bottom:2px solid #c2c4d3;
	border-left:1px solid #c2c4d3;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana;
	padding: 3px 5px;
}

.gridHeaderYearToYearReport 
{
	color: #2460a4;
	font-size: 14px;
	font-weight: bold;
	
	text-align:left;

}



.gridViewFooterYearToYearReport
{
	color:#ffffff;
	background-color:#f5f8fb;
}





/* end for grid view year to year report style */

.txtInputBox
{
	/*
width:200px;	
border:none;
background:transparent url(txtInputBoxBg.png) top right no-repeat !important;
height:23px;
line-height:23px;
text-indent:5px;
display:block;
font-size:12px;
padding-top:3px;
*/
background-color:#E9EDF8 !important;
border:1px solid #E1E5EF ;
display:block;

font-family:trebuchet MS;
font-size:12px;
height:17px;
margin:5px 0;
overflow:hidden;
padding-top:4px;
text-align:left;
vertical-align:top;
border-left:none;
border-right:none;
width:200px;
	
}


.txtInputBoxAppointments
{
	/*
width:200px;	
border:none;
background:transparent url(txtInputBoxBg.png) top right no-repeat !important;
height:23px;
line-height:23px;
text-indent:5px;
display:block;
font-size:12px;
padding-top:3px;

background-color:#E9EDF8 !important;
border:1px solid #E1E5EF ;
display:block;

font-family:trebuchet MS;
font-size:12px;
height:17px;
margin:5px 0;
overflow:hidden;
padding-top:4px;
text-align:left;
vertical-align:top;
border-left:none;
border-right:none;
width:200px;
*/
background-color:#E9EDF8 !important;
border:1px solid #E1E5EF ;
	
}

.btnClass
{
	text-decoration:none;
	border:none;
	background:#5a6a84 url(btnBg.jpg) top left repeat-x;
	border: 1px solid #5a6a84!important; 
	color:#fff;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	border-collapse:collapse;
	height:25px;
	line-height:25px;
	padding:0px !important;
	padding:0px 6px !important;
	display:inline ;
	margin:0px;
	width: auto;
	overflow: visible;
}

.btnClass:hover
{
	background:#5a6a84 url(btnBgOver.jpg) bottom left repeat-x;
}

.klikni_me
{
	text-decoration:none;
	border:none;
	background:#5a6a84 url(btnBg.jpg) top left repeat-x;
	border: 1px solid #5a6a84!important; 
	color:#fff;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	border-collapse:collapse;
	height:25px;
	line-height:25px;
	padding:0px !important;
	padding:0px 6px !important;
	display:inline ;
	margin:0px;
	width: auto;
	overflow: visible;
}

.klikni_me:hover
{
	background:#5a6a84 url(btnBgOver.jpg) bottom left repeat-x;
}




.click_me
{
	text-decoration:none;
	border:none;
	background:#5a6a84 url(btnBg.jpg) top left repeat-x;
	border: 1px solid #5a6a84!important; 
	color:#fff;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	border-collapse:collapse;
	height:25px;
	line-height:25px;
	padding:0px !important;
	padding:0px 6px !important;
	display:inline ;
	margin:0px;
	width: auto;
	overflow: visible;
}

.click_me:hover
{
	background:#5a6a84 url(btnBgOver.jpg) bottom left repeat-x;
}
.holderNotes {

	position:relative;
	min-height:46px;
}
.innerBottom {

	width:25px;
	position:absolute;
	top:100%;
	margin:0 0 -12px;
}
.FloatDivs {

	position:relative;
	min-height:46px;
	float:left;
}





/*
#############################################
#############################################
for tree component
#############################################
#############################################

*/


.comTree /* the compleate tree */
{
	
	padding:20px 5px;
	width:200px;
	overflow:hidden;
}

.comTree table
{
display:block;

}
.comNodeHoverStyle /* the hover node */
{
	 text-decoration:underline;
	 color:#000;
	 background-color:#b6bdc9;
}
td.comLeafNodeStyle /* the final node */
{
	/* background:transparent url(icons/leafNote.png) top left no-repeat;
padding-left:17px;*/
	width:100%;
	display:table-cell;

font-size:14px !important;
	text-align:left;
	padding:5px;


	
}
a.comLeafNodeStyle
{

padding-left:0px;	


}
.comNodeStyle
{
	font-size:14px;
	text-indent:0px;
	padding:0 3px;
	vertical-align:middle;
	

}

.comNodeStyle a
{
	color:#6d7582;
	
	font-family:Trebuchet MS;
	line-height:16px;
	display:table-cell;
	
	
	
}
td.comNodeHoverStyle
{
border:none !important;
text-decoration:none !important;	
}



td.comParentNodeStyle
{

	display:table-cell;
	width:100%;
}

.comRootNodeStyle
{
	width:100%;

}
td.comSelectedNodeStyle 
{
	

	color:#fff !important;
font-weight:bold;
/* border:1px #6d7582 dashed; */
background-color:#b6bdc9;
display:table-cell;

	font-size:14px;
	padding:3px 0px 3px 3px;
width:100%;
}
.comSelectedNodeStyle a
{
	color:#FFF !important;
}

/*
#############################################
#############################################
for tree component
#############################################
#############################################

*/


/*
#############################################
#############################################
calendar
#############################################
#############################################

*/
.theCalendar
{
	background-color:#fff;
	border:1px solid #999;
	padding:5px;
	/*height:250px;*/
}
.theCalendar td
{
border-top:1px solid #ccc;
border-right:1px solid #ccc;

}
.theCalendar td:last
{
	border:none;
}
.theCalendar td a
{
text-decoration:none;
	
}
.selectedDay
{
	background-color:#ebebeb;
}

.selectedDay
{
	background-color:#000;
}

.selectorStyle
  {
	border:1px solid #000;
		background-color:#666;
}

.WeekendDayStyle{

}


.OtherMonthDayStyle, .OtherMonthDayStyle a,.WeekendDayStyle ,.WeekendDayStyle a	{
	background-color:#E8F3FF;
	color:#aaa !important;
	text-decoration:none;
}


.TodayDayStyle{
	
}

.NextPrevStyle, .NextPrevStyle a{
		text-decoration:none;
		font-weight:bold;
		text-align:center;
		color:White !important;
		
}


.DayHeaderStyle{
	background-color:#B4CBE7;
	color:#000;
	font-weight:bold;
}


.TitleStyle{
	background-color:#657A97;
	color:#fff;
}

.viewPatientProfileTxtBold
{
	font-weight:bold;
}

.viewPatientProfileTxtBold
{
	font-weight:bold;
	line-height:24px;
}

td[colspan="7"]
{
	height:18px;
	margin:0px;

}
